.list {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
}
.working {
  border: 1px solid #ccd0d9;
  color: white;
}
.workingText {
  color: #4d535c;
}
.done {
  border: 1px solid #d870ad;
  color: #d870ad;
}
.doneText {
  color: #ccd0d9;
}
.editdelete {
  display: flex;
  align-items: center;
  float: right;
}
.text {
  flex: 1;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 22px;
}
.hide {
  display: none;
}
